*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
_build

dist/
MANIFEST
auto_examples/
*.pdf
pip-log.txt
.coverage
coverage
*.py,cover
tags
coverages
.coverage
*.prof
.tox/

*.nt.bz2
*.tar.gz
*.tgz

*.prefs
.pydevproject
.idea
